.searchbar {
  display: flex;
  align-items: center;
  padding-top: 30px;
  justify-content: center;
}

.searchForm {
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: #f5f5f5;
  overflow: hidden;
}

.inputSearch {
  flex: 1;
  padding: 8px 12px;
  border: none;
  background-color: transparent;
  font-size: 16px;
  color: #333;
}

.searchBtn {
  padding: 8px 16px;
  background-color: #909090;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchBtn:hover {
  background-color: rgb(199, 199, 199);
}
